<div class = "wrapper">
  <div class = "text-editor">
    <app-text-editor></app-text-editor>
  </div>
  <div class = "in-and-out">
    <div class = "stdin">
      <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <textarea matInput type="text" #input></textarea>
      </mat-form-field>
    </div>
    <div >
      <mat-form-field appearance="fill">
        <mat-label #output id="test">Output</mat-label>
        <textarea matInput ></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
<div>
  <button mat-raised-button class="button" color="primary" (click)="takeCode(output.id,input.value)">RUN</button>
</div>
<div>
  <button mat-raised-button class="button" color="primary" (click)="logout()">LOGOUT</button>
</div>



